<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.usth.moodlenew">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoodleNew">
        <activity
            android:name=".HomeFragment_Master"
            android:exported="true" />
        <activity
            android:name=".HomeFragment_Bachelor"
            android:label="@string/Bachelor"
            android:exported="true" />
        <activity
            android:name=".InformationClientActivity"
            android:label="@string/MyInformation"
            android:exported="true" />
        <activity
            android:name=".MyCoursesFragment_WebAppActivity"
            android:exported="true" />
        <activity
            android:name=".MyCoursesFragment_MobileAppActivity"
            android:label="@string/MobileApp"
            android:exported="true" />
        <activity
            android:name=".RegistrationPage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>